extends layout

block content
  #banner
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-sm-12
        p
          | L8cker was created to help people find places to sit down, eat and get a bit of work done.
          | <br /><br />
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, libero. Assumenda quidem sint dolorum ea quia, odio quis sed odit, voluptate, ut deleniti totam nisi!
          | <br /><br />
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reiciendis distinctio labore omnis nam, quis necessitatibus sint asperiores aut, quibusdam commodi amet qui veritatis. Quis doloremque necessitatibus harum libero quos tenetur accusamus suscipit officiis tempore facilis, saepe aliquam nesciunt. Officia reprehenderit odit a similique error nisi ut vero repellendus sequi.